
@page "/BasicData/Application/Edit"
@using DormitoryManagementSystem.ViewModel.BasicData.ApplicationVMs
@using System.ComponentModel.DataAnnotations
@inherits BasePage

<div>
  <ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit" >
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">
      <Select @bind-Value="@Model.Entity.AppType" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]" Id="ga8ebd9a02d9a421d97f8e25a545ad365"/>
      <BootstrapInput @bind-Value="@Model.Entity.AppliName"/>
      <BootstrapInput @bind-Value="@Model.Entity.IdentityID"/>
      <DateTimePicker @bind-Value="@Model.Entity.StatTime"/>
      <DateTimePicker @bind-Value="@Model.Entity.EndTime"/>
      <Select @bind-Value="@Model.Entity.StatusProcess" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]" Id="gcee1f4613d78438cafe7aaf144d192a1"/>
    </Row>

    <div class="modal-footer table-modal-footer">
      <Button ButtonType="ButtonType.Submit" IsAsync="true" Text="@WtmBlazor.Localizer["Sys.Submit"]"/>
      <Button OnClick="OnClose" Text="@WtmBlazor.Localizer["Sys.Close"]"/>
    </div>

  </ValidateForm>

</div>



@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string[] ids { get; set; }
    private ApplicationVM Model = new ApplicationVM();
    private ValidateForm vform { get; set; }
    private async Task Submit(EditContext context)
    {
                        
        
        await PostsForm(vform, "/api/BasicData/Application/Edit", (s) => "Sys.OprationSuccess", method: HttpMethodEnum.PUT);
    }

    public void OnClose()
    {
        CloseDialog();
    }
    
    protected override async Task OnInitializedAsync()
    {
        
        
        if (id != "")
        {
            var rv = await WtmBlazor.Api.CallAPI<ApplicationVM>($"/api/BasicData/Application/{id}");
            Model = rv.Data;
        }

        await base.OnInitializedAsync();
    }
}
